# OS files
.DS_Store

# Editor directories
.idea/
.vscode/
.omx/

# Logs
*.log

# Environment files
.env
.env.*
!.env.example

# Dependencies and build outputs
node_modules/
.pnpm-home/
.next/
*.tsbuildinfo
dist/
build/
.cache/
